DATABASE_URL="postgresql://postgres:postgres@db:5432/et_id_ocr?schema=public"
BASE_URL="https://example.com"
PORT=3000
BETTER_AUTH_SECRET=
NEXT_PUBLIC_APP_URL="https://example.com"
BETTER_AUTH_URL="https://example.com"

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Bot Secret
BOT_SECRET=

# Bot internal URL for notifications (internal docker network)
BOT_INTERNAL_URL="http://bot:5005"

# Resend API Key for OTP
RESEND_API_KEY=
